[submodule "code/pico-sdk"]
	path = code/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "code/pico-extras"]
	path = code/pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "pcb/dk2_00/KiCad-RP-Pico"]
	path = pcb/dk2_00/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
