[submodule "pcb/AudioJacks"]
	path = pcb/AudioJacks
	url = https://github.com/clacktronics/AudioJacks
[submodule "pcb/KiCad-RP-Pico"]
	path = pcb/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "code/drumkid/test1/sd/lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = code/drumkid/test1/sd/lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico
[submodule "code/lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = code/lib/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
[submodule "firmware/dkeuro2/libraries/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = firmware/dkeuro2/libraries/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = git@github.com:carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
