[submodule "code/pico-sdk"]
	path = code/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "code/pico-extras"]
	path = code/pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "pcb/AudioJacks"]
	path = pcb/AudioJacks
	url = https://github.com/clacktronics/AudioJacks
[submodule "pcb/KiCad-RP-Pico"]
	path = pcb/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "code/drumkid/test1/sd/lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = code/drumkid/test1/sd/lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico
